# Tệp log tài khoản
config.json
success_accounts.txt
accounts.txt
accounts_*.txt
*.log
OutlookRegister/Results/
OutlookRegister/thanhcong.txt
OutlookRegister/outlook_success.txt
OutlookRegister/config.json
OutlookRegister/%SystemDrive%/
*.db
reg_success.txt

# Môi trường ảo Python
venv/
.venv/
env/
__pycache__/
*.pyc
